{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/iodide.dev.css">
{% endblock %}
{% block content %}
<script id="jsmd" type="text/jsmd">
{{ jsmd|safe }}
</script>
<div id="panes-container">
  <iframe
    id="eval-frame"
    src="https:/extremely-alpha.iodide.app/iodide.eval-frame.dev.html"
    sandbox="allow-scripts allow-same-origin"
    allowfullscreen="true"
    allowvr="yes"
  ></iframe>
</div>
<script>
  window.userData = {{ user_info|safe }}
</script>
<script src="/iodide.dev.js"></script>
{% endblock %}
